#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background: linear-gradient(to right, #EFEAE7, #B40709);
  margin: 0;
  font-family: Arial, sans-serif;
}

.leaflet-container {
  height: 500px;
  width: 100%;
}

form {
  margin: 20px 0;
  text-align: center;
}

input {
  padding: 10px;
  width: 200px;
  margin-right: 10px;
  border-radius: 20px; /* Add this line to make the input a round rectangle */
  border: 1px solid #ccc; /* Optional: Add a border to the input */
}

button {
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

